 
<!doctype html>
<html class="no-js" lang="zxx">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Exam</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Favicon -->
	<link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="assets/img/icon.png">

	<!-- Google font (font-family: 'Dosis', sans-serif;) -->
	<!-- <link href="https://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700" rel="stylesheet"> -->
	
	<!-- Plugins -->
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/plugins.css">

	<!-- Style Css -->
	<link rel="stylesheet" href="assets/css/Stu_style.css">

	<!-- Custom Styles -->
	<link rel="stylesheet" href="assets/css/custom.css">
	<style>
		.page-content{
			margin-top: 120px;
			margin-bottom: 100px;
		}
	</style>
</head>

<body>
<!-- 	[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif] -->
	<!-- Add your site or application content here -->
	<!-- Wrapper -->
	<div id="wrapper" class="wrapper">

		<!-- 头 -->
		<header class="header sticky-header">

		</header>
		<!--// 头部结束 -->

        <!-- Breadcrumb Area -->
        <div class="breadcrumb-area bg-grey">
            <div class="container">
                <div class="cr-breadcrumb">
                    <!-- <h2>EXAM</h2> -->
                    <ul>
                        <li><a href="studentindex.html">Main</a></li>
                        <li>我的分数</li>
                    </ul>
                </div>
            </div>
        </div>
        <!--// Breadcrumb Area -->

		<!-- Page Conttent -->
		<main class="page-content">
			<div id="list">
				<!--<table >-->
					<!--<thead>-->
					<!--<tr>-->
						<!--<th>考试日期</th>-->
						<!--<th>课程名称</th>-->
						<!--<th>考试分数</th>-->
						<!--<th>是否及格</th>-->
					<!--</tr>-->
					<!--</thead>-->
					<!--<tbody id="tbody">-->


					<!--</tbody>-->
					<!--<tfoot>-->
					<!--<tr>-->
						<!--<td colspan="8">-->
							<!--<div class="pagination pagination-centered"></div>-->
						<!--</td>-->
					<!--</tr>-->
					<!--</tfoot>-->
				<!--</table>-->

				<ul id="ull">
					<li><span>考试日期</span><span>课程名称</span><span>考试分数</span><span>是否及格</span></li>
					<!--<li><span>2019-04-20</span><span><span class="pro-decorate">计算机网络</span></span><span>100</span><span><span class="grade-decorate-success">及格</span></span></li>-->
					<!--<li><span>2019-04-20</span><span><span class="pro-decorate">C语言</span></span><span>49</span><span><span class="grade-decorate-fail">不及格</span></span></li>-->
					<!--<li><span>2019-04-20</span><span><span class="pro-decorate">计算机网络</span></span><span>100</span><span><span class="grade-decorate-success">及格</span></span></li>-->
					<!--<li><span>2019-04-20</span><span><span class="pro-decorate">C语言</span></span><span>49</span><span><span class="grade-decorate-fail">不及格</span></span></li>-->
					<!--<li><span>2019-04-20</span><span><span class="pro-decorate">计算机网络</span></span><span>100</span><span><span class="grade-decorate-success">及格</span></span></li>-->
					<!--<li><span>2019-04-20</span><span><span class="pro-decorate">C语言</span></span><span>49</span><span><span class="grade-decorate-fail">不及格</span></span></li>-->
					<!--<li><span>2019-04-20</span><span><span class="pro-decorate">计算机网络</span></span><span>100</span><span><span class="grade-decorate-success">及格</span></span></li>-->
					<!--<li><span>2019-04-20</span><span><span class="pro-decorate">C语言</span></span><span>49</span><span><span class="grade-decorate-fail">不及格</span></span></li>-->
					<!--<li><span>2019-04-20</span><span><span class="pro-decorate">计算机网络</span></span><span>100</span><span><span class="grade-decorate-success">及格</span></span></li>-->
					<!--<li><span>2019-04-20</span><span><span class="pro-decorate">C语言</span></span><span>49</span><span><span class="grade-decorate-fail">不及格</span></span></li>-->
					<!--<li><span>2019-04-20</span><span><span class="pro-decorate">计算机网络</span></span><span>100</span><span><span class="grade-decorate-success">及格</span></span></li>-->
					<!--<li><span>2019-04-20</span><span><span class="pro-decorate">C语言</span></span><span>49</span><span><span class="grade-decorate-fail">不及格</span></span></li>-->

				</ul>
			</div>
		</main>
		<!--// Page Conttent -->

		<!-- Footer Area -->
		<footer class="footer-area bg-white">

		</footer>
		<!--// Footer Area -->

	</div>
	<!--// Wrapper -->

	<!-- Js Files --><script src="assets/js/modernizr-3.6.0.min.js"></script>
<script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/plugins.js"></script>
<script src="assets/js/stu_main.js"></script>
</body>


<script type="text/javascript">
	$(function () {
		$("header").load("stuNav.html");
		$("footer").load("stuFooter.html");
	});
	$.ajax({
		url: '/find_scoreTable/',
		type: 'get',
		success: function (apiResult) {
			var student = apiResult.data[0]
			var score = apiResult.data[1]
			var flag = ''
			score.forEach(function (value) {
				if (value.etScore >= 60) {
					flag = '及格'
				} else {
					flag = '不及格'
				}
				$('#ull').append(
						'<li>' +
						'<span>' + value.answerDate + '</span>' +
						'<span>' +
						'<span class="pro-decorate">' + value.subject + '</span>' +
						'</span>' +
						'<span>' + value.etScore + '</span>' +
						'<span>' +
						'<span class="grade-decorate-success">' + flag + '</span>' +
						'</span>' +
						'</li>'
				)
			})
		}
	})
</script>
</html>


