<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <!--描述：网页标题-->
    <title>EXAM V1.0</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--
    描述：style
-->
    <script type="text/javascript" src="assets/js/jquery.js"></script>
    <link rel="stylesheet" href="assets/css/Adminstyle.css">
    <link rel="stylesheet" href="assets/css/loader-style.css">
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <link rel="stylesheet" href="assets/js/button/ladda/ladda.min.css">
    <!-- 网站图标 -->
    <link rel="shortcut icon" href="assets/ico/minus.png">
    <!-- 有关 表格-->
    <link href="assets/js/footable/css/footable.core.css?v=2-0-1" rel="stylesheet" type="text/css">
    <link href="assets/js/footable/css/footable.standalone.css" rel="stylesheet" type="text/css">
    <link href="assets/js/footable/css/footable-demos.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="assets/js/dataTable/lib/jquery.dataTables/css/DT_bootstrap.css">
    <link rel="stylesheet" href="assets/js/dataTable/css/datatables.responsive.css">
    <link rel="stylesheet" href="assets/css/profile.css">
    <style>
        #custom_content {
            /* border: 1px solid black; */
            width: 60%;
            background: #FAF5F2;
            border-left: 6px solid #FDC8C8;
            /* border-width:10px ; */
            padding: 20px;
            font-size: 16px;
            letter-spacing: 2px;
        }

        label {
            font-size: 18px;
            font-weight: normal !important;
        }

        .control-group {
            margin-top: 5px;
        }
    </style>
</head>

<body>

<!-- 顶部导航栏 -->
<nav role="navigation" class="navbar navbar-static-top">
</nav>

<!-- 顶部导航结束 -->

<!-- 侧边栏 -->
<div id="skin-select">

</div>

<!--内容-->
<div class="wrap-fluid">
    <div class="container-fluid paper-wrap bevel tlbr">

        <!-- CONTENT -->
        <!--TITLE -->
        <div class="row">
            <div id="paper-top">
                <div class="col-sm-3">
                    <h2 class="tittle-content-header">
                        <a href="AdminIndex.html"><i class="icon-media-record"></i> </a>
                    </h2>

                </div>

                <div class="col-sm-7">
                    <div class="devider-vertical visible-lg"></div>
                    <div class="tittle-middle-header">

                        <div class="alert">
                            <!-- <button type="button" class="close" data-dismiss="alert">×</button> -->
                            <span class="tittle-alert entypo-info-circled"></span> 欢迎回来,&nbsp;
                            <strong>Dave mattew!</strong>
                        </div>

                    </div>

                </div>
                <div class="col-sm-2">

                </div>
            </div>
        </div>
        <!--/ TITLE -->

        <!-- BREADCRUMB -->
        <ul id="breadcrumb">
            <li>
                <span class="entypo-home"></span>
            </li>
            <li><i class="fa fa-lg fa-angle-right"></i>
            </li>
            <li>
                <a href="#" title="学生管理">考试管理</a>
            </li>
            <li><i class="fa fa-lg fa-angle-right"></i>
            </li>
            <li>
                <a href="AddStu.html" title="添加学生">添加考试</a>
            </li>

        </ul>


        <!-- 内容部分开始 -->
        <div class="content-wrap">
            <div class="row">

                <div class="col-sm-12">
                    <!-- BLANK PAGE-->
                    <!-- ！！！！！！！哈哈哈哈哈这里写内容！！！！！！！ -->
                    <div class="nest" id="validationClose">
                        <div class="title-alt">
                            <h6>添加考试</h6>
                        </div>

                        <div class="body-nest" id="validation">
                            <div class="form_center">

                                <form id="contact-form" class="form-horizontal">
                                    <fieldset>

                                        <div class="control-group">
                                            <label class="control-label" for="source">试卷名称</label>
                                            <div class="controls">
                                                <input type="text" class="form-control" name="source" id="source"
                                                       style="width:50%">
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="description">试卷介绍</label>
                                            <div class="controls">
                                                <input type="text" class="form-control" name="description"
                                                       id="description" style="width:50%">
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="institute">所属学院</label>
                                            <div class="controls">
                                                <input type="text" class="form-control" name="institute" id="institute"
                                                       style="width:50%">
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="major">所属专业</label>
                                            <div class="controls">
                                                <input type="text" class="form-control" name="major" id="major"
                                                       style="width:50%">
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="grade">年级</label>
                                            <div class="controls">
                                                <input type="text" class="form-control" name="grade" id="grade"
                                                       style="width:50%">
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="examDate">考试日期</label>
                                            <div class="controls">
                                                <input type="text" class="form-control" name="examDate" id="examDate"
                                                       style="width:50%">
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="totalTime">考试时长</label>
                                            <div class="controls">
                                                <input type="text" class="form-control" name="totalTime" id="totalTime"
                                                       style="width:50%">
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="totalScore">总分</label>
                                            <div class="controls">
                                                <input type="text" class="form-control" name="totalScore"
                                                       id="totalScore" style="width:50%">
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="type">考试类型</label>
                                            <div class="controls">
                                                <input type="text" class="form-control" name="type" id="type"
                                                       style="width:50%">
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="papermaker">出卷人</label>
                                            <div class="controls">
                                                <input type="text" class="form-control" name="papermaker"
                                                       id="papermaker" style="width:50%">
                                            </div>
                                        </div>
                                        <!-- <div class="control-group">
                                            <label class="control-label" for="message">Your Message</label>
                                            <div class="controls">
                                                <textarea class="form-control" name="message" id="message" rows="3"></textarea>
                                            </div>
                                        </div> -->
                                        <div class="form-actions" style="margin:20px 0 0 0;">
                                            <button type="button" class="btn btn-primary" id="add_item">添加</button>
                                        </div>
                                    </fieldset>
                                </form>

                            </div>
                        </div>

                    </div>
                    <!-- END OF BLANK PAGE -->

                </div>

                <!-- /END OF CONTENT -->

                <!-- FOOTER -->
                <div class="footer-space"></div>
                <div id="footer">

                </div>
                <!-- / END OF FOOTER -->

            </div>
        </div>
    </div>
    <!--  内容部分结束  -->
</div>
</body>
<script>
    $(function () {
        $("#footer").load("adminFooter.html");

        $("#skin-select").load("adminSlideBar.html");
        $("nav").load("adminBar.html");

    });

    $('#add_item').on("click", function () {
        var formData = {
            // ID:null,
            source: $('#source').val(),
            description: $('#description').val(),
            institute: $('#institute').val(),
            major: $('#major').val(),
            grade: $('#grade').val(),
            examDate: $('#examDate').val(),
            totalTime: $('#totalTime').val(),
            totalScore: $('#totalScore').val(),
            type: $('#type').val(),
            tips: $('#tips').val(),
            papermaker: $('#papermaker').val()
        }
        $.ajax({
            url: '/addItem',
            type: 'post',
            data: JSON.stringify(formData),
            dataType: 'json',
            contentType: "application/json",
            success: function (data) {
                if (data != null) {
                    alert("插入成功");
                    window.location.href = "/AddItem.html";
                }

            }
        })
        return false;
    });

</script>
<script type="text/javascript" src="assets/js/preloader.js"></script>
<script type="text/javascript" src="assets/js/bootstrap.js"></script>
<script type="text/javascript" src="assets/js/Adminapp.js"></script>
<script type="text/javascript" src="assets/js/load.js"></script>
<script type="text/javascript" src="assets/js/Adminmain.js"></script>


<!-- GAGE -->
<script type="text/javascript" src="assets/js/toggle_close.js"></script>
<script src="assets/js/footable/js/footable.js?v=2-0-1" type="text/javascript"></script>
<!-- <script src="assets/js/footable/js/footable.sort.js?v=2-0-1" type="text/javascript"></script> -->
<script src="assets/js/footable/js/footable.filter.js?v=2-0-1" type="text/javascript"></script>
<script src="assets/js/footable/js/footable.paginate.js?v=2-0-1" type="text/javascript"></script>
</html>