<div id="logo">
    <h1>EXAM
        <span>v1.0</span>
    </h1>
</div>

<a id="toggle">
    <span class="entypo-menu"></span>
</a>
<div class="dark">

</div>
<div class="skin-part">
    <div id="tree-wrap">
        <div class="side-bar">
            <ul class="topnav menu-left-nest">
                <li>
                    <a href="#" style="border-left:0px solid!important;" class="title-menu-left">
                        <span class="design-kit"></span>
                    </a>
                </li>

                <li>
                    <a class="tooltip-tip " href="#" title="login">
                        <i class="icon-tag"></i>
                        <span>考试管理</span>
                    </a>
                    <ul>
                        <li>
                            <a class="tooltip-tip2 ajax-load" href="ItemIntro.html"><i
                                    class="icon-media-record"></i><span>功能介绍</span></a>
                        </li>
                        <li>
                            <a class="tooltip-tip2 ajax-load" href="ExamSearch.html" id="search_exam"><i
                                    class="icon-media-record"></i><span>考试查询</span></a>
                        </li>
                        <li>
                            <a class="tooltip-tip2 ajax-load" href="AddItem.html"><i
                                    class="entypo-newspaper"></i><span>添加考试</span></a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="tooltip-tip " href="#" title="login">
                        <i class="icon-tag"></i>
                        <span>题库管理</span>
                    </a>
                    <ul>
                        <li>
                            <a class="tooltip-tip2 ajax-load" href="ExamIntro.html" title="Blank Page"><i
                                    class="icon-media-record"></i><span>功能介绍</span></a>
                        </li>
                        <li>
                            <a class="tooltip-tip2 ajax-load" href="ExamAdmin.html" title="Profile Page"><i
                                    class="entypo-newspaper"></i><span>所有题库</span></a>
                        </li>
                        <li>
                            <a class="tooltip-tip2 ajax-load" href="AddExam.html" title="Invoice"><i
                                    class="entypo-newspaper"></i><span>添加题库</span></a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="tooltip-tip " href="#" title="login">
                        <i class="icon-tag"></i>
                        <span>成绩查询</span>
                    </a>
                    <ul>
                        <li>
                            <a class="tooltip-tip2 ajax-load" href="StuGradeSearch.html" title="Blank Page"><i
                                    class="icon-media-record"></i><span>学生成绩查询</span></a>
                        </li>
                        <!--									<li>-->
                        <!--										<a class="tooltip-tip2 ajax-load" href="StuFenGradeSearch.html" title="Profile Page"><i class="icon-user"></i><span>成绩分段查询</span></a>-->
                        <!--									</li>-->
                    </ul>
                </li>
                <li>
                    <a class="tooltip-tip " href="#" title="login">
                        <i class="icon-tag"></i>
                        <span>学生管理</span>
                    </a>

                    <ul>
                        <li>
                            <a class="tooltip-tip2 ajax-load" href="StuAdmin.html" title="Blank Page"><i
                                    class="icon-media-record"></i><span>学生管理</span></a>
                        </li>
                        <li>
                            <a class="tooltip-tip2 ajax-load" href="AddStu.html" title="Profile Page"><i
                                    class="icon-user"></i><span>添加学生</span></a>
                        </li>

                    </ul>
                </li>
                <li>
                    <a class="tooltip-tip " href="#" title="login">
                        <i class="icon-tag"></i>
                        <span>教师管理</span>
                    </a>
                    <ul>
                        <li>
                            <a class="tooltip-tip2 ajax-load" href="TeachAdmin.html" title="Blank Page"><i
                                    class="icon-media-record"></i><span>教师管理</span></a>
                        </li>
                        <li>
                            <a class="tooltip-tip2 ajax-load" href="AddTeach.html" title="Profile Page"><i
                                    class="icon-user"></i><span>添加教师</span></a>
                        </li>

                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>