<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <!--描述：网页标题-->
    <title>EXAM V1.0</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--
        描述：style
    -->
    <script type="text/javascript" src="assets/js/jquery.js"></script>
    <link rel="stylesheet" href="assets/css/Adminstyle.css" th:href="@{/assets/css/Adminstyle.css}">
    <link rel="stylesheet" href="assets/css/loader-style.css" th:href="@{/assets/css/loader-style.css}">
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <link rel="stylesheet" href="assets/js/button/ladda/ladda.min.css">
    <!-- 网站图标 -->
    <link rel="shortcut icon" href="assets/ico/minus.png">
    <!-- 有关 表格-->
    <link href="assets/js/footable/css/footable.core.css?v=2-0-1" rel="stylesheet" type="text/css">
    <link href="assets/js/footable/css/footable.standalone.css" rel="stylesheet" type="text/css">
    <link href="assets/js/footable/css/footable-demos.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="assets/js/dataTable/lib/jquery.dataTables/css/DT_bootstrap.css">
    <link rel="stylesheet" href="assets/js/dataTable/css/datatables.responsive.css">
    <link rel="stylesheet" href="assets/css/profile.css">
    <style>
        #custom_content {
            /* border: 1px solid black; */
            width: 60%;
            background: #FAF5F2;
            border-left: 6px solid #FDC8C8;
            /* border-width:10px ; */
            padding: 20px;
            font-size: 16px;
            letter-spacing: 2px;
        }

        .about-image img {
            transform: scale(0.5, 0.5);
            border-radius: 50%;
            align-content: center;
            margin-top: -80px;
        }
    </style>
</head>
<body>

<!-- 顶部导航栏 -->
<nav role="navigation" class="navbar navbar-static-top">

</nav>

<!-- 顶部导航结束 -->

<!-- 侧边栏 -->
<div id="skin-select">

</div>
<!--  内容部分 -->
<div class="wrap-fluid">
    <div class="container-fluid paper-wrap bevel tlbr">

        <!-- CONTENT -->
        <!--TITLE -->
        <div class="row">
            <div id="paper-top">
                <div class="col-sm-3">
                    <h2 class="tittle-content-header">
                        <i class="icon-media-record"></i> <span> </span>
                    </h2>

                </div>

                <div class="col-sm-7">
                    <div class="devider-vertical visible-lg"></div>
                    <div class="tittle-middle-header">

                        <div class="alert">
                            <!-- <button type="button" class="close" data-dismiss="alert">×</button> -->
                            <span class="tittle-alert entypo-info-circled"></span>
                            欢迎回来,&nbsp; <strong>Dave mattew!</strong>
                        </div>

                    </div>

                </div>
                <div class="col-sm-2"></div>
            </div>
        </div>
        <!--/ TITLE -->

        <!-- BREADCRUMB -->
        <ul id="breadcrumb">
            <li><span class="entypo-home"></span></li>
            <li><i class="fa fa-lg fa-angle-right"></i></li>
            <li><a href="#" title="教师管理">个人信息</a></li>

        </ul>
        <div class="content-wrap">
            <!-- PROFILE -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="well profile">
                        <div class="col-sm-12">
                            <div class="col-xs-12 col-sm-8 profile-name"
                                 style="width: 800px">
                                <h3>Profile</h3>
                                <hr>

                                <dl class="dl-horizontal-profile" id="dl1">


                                    <!--
                                    <dt>Skills</dt>
                                    <dd>
                                        <span class="tags">html5</span>
                                        <span class="tags">css3</span>
                                        <span class="tags">jquery</span>
                                        <span class="tags">bootstrap3</span>
                                    </dd>
                                    -->
                                </dl>
                            </div>

                        </div>
                        <button type="button" class="btn btn-primary" id="pwd_edit" style="margin-left:350px">修改密码
                        </button>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="pwdModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!--头部-->
                修改密码
            </div>
            <div class="modal-body">
                <div class="input-group">
                    <span class="input-group-addon">旧密码：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <input type="text" class="form-control" placeholder="请输入旧密码"
                           name="oldpwd"> <span class='input-group-addon hidden'
                                                id='oldspan' hidden><span class="label label-danger"
                                                                          hidden>密码错误</span></span>

                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon">新密码：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <input type="text" class="form-control" name="newpwd"> <span
                        class='input-group-addon hidden' id='newspan' hidden><span
                        class="label label-danger" hidden>新密码不能为空</span></span>

                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon">确认密码：</span> <input type="text"
                                                                        class="form-control" name="repwd"> <span
                        class='input-group-addon hidden' id='respan' hidden><span
                        class="label label-danger" hidden>两次输入的密码不一致</span></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" id="btnPwd">
                        提交更改
                    </button>
                </div>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<!-- Js Files -->
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/plugins.js"></script>
<script src="assets/js/main.js"></script>

<script>
	$(function(){
		$("#footer").load("adminFooter.html");

		$("#skin-select").load("adminSlideBar.html");
		$("nav").load("adminBar.html");

	});
    $.ajax({
        url: '/admin_show',
        type: 'get',
        success: function (ApiResult) {
            console.log(ApiResult.data)
            $('#dl1').append(
                '<dt>' + '用户ID' + '</dt>' +
                '<dd>' + ApiResult.data.adminId + '</dd>' +
                '<dt>' + '姓名' + '</dt>' +
                '<dd>' + ApiResult.data.adminName + '</dd>' +
                '<dt>' + '性别' + '</dt>' +
                '<dd>' + ApiResult.data.sex + '</dd>' +
                '<dt>' + '身份证号' + '</dt>' +
                '<dd>' + ApiResult.data.cardId + '</dd>' +
                '<dt>' + '邮箱' + '</dt>' +
                '<dd>' + ApiResult.data.email + '</dd>' +
                '<dt>' + '电话号' + '</dt>' +
                '<dd>' + ApiResult.data.tel + '</dd>' +
                '<dt>' + '关于' + '</dt>' +
                '<dd>' + '在线考试系统管理员' + ApiResult.data.adminId + '</dd>'
            )
        }
    })
    //注册新增按钮的事件
    $("#pwd_edit").click(function () {
        // $("#myModalLabel").text("新增");
        $('#pwdModal').modal();
    });

    $(function () {
        $("#btnPwd")
            .click(
                function () {
                    $('#oldspan').addClass('hidden');
                    $('#newspan').addClass('hidden');
                    $('#respan').addClass('hidden');
                    var oldpwd = $(
                        'input[name="oldpwd"]')
                        .val();
                    var newpwd = $(
                        'input[name="newpwd"]')
                        .val();
                    var repwd = $('input[name="repwd"]')
                        .val();

                    if (newpwd.length < 1) {
                        $('#newspan').removeClass(
                            'hidden');
                        return;
                    }
                    if (newpwd != repwd) {
                        $('#respan').removeClass(
                            'hidden');
                        return;
                    }

                    $
                        .ajax({
                            url: '/edit_pwd',
                            type: 'POST', //GET
                            data: {
                                oldpwd: oldpwd,
                                newpwd: newpwd,//想要传输过去的数据 key：value，另一个页面通过 key接收value的值
                            },
                            timeout: 5000, //超时时间
                            dataType: 'json', //返回的数据格式：json/xml/html/script/jsonp/text
                            success: function (ApiResult) {//data是成功后，接收的返回值
                                console.log(ApiResult)
                                console.log(ApiResult.code)
                                if (ApiResult.code === 200) {
                                    alert('修改密码成功');
                                } else {
                                    alert('修改密码失败');
                                }
                                window.console
                                    .log('成功回调函数');
                            },
                            error: function () {
                                window.console
                                    .log('失败回调函数');
                            }
                        });

                    $('input[name="oldpwd"]').val('');
                    $('input[name="newpwd"]').val('');
                    $('input[name="repwd"]').val('');
                    $(function () {
                        $('#pwdModal').modal('hide')
                    });
                });
    });

</script>
<script type="text/javascript" src="assets/js/preloader.js"></script>
<script type="text/javascript" src="assets/js/bootstrap.js"></script>
<script type="text/javascript" src="assets/js/Adminapp.js"></script>
<script type="text/javascript" src="assets/js/load.js"></script>
<script type="text/javascript" src="assets/js/Adminmain.js"></script>


<!-- GAGE -->
<script type="text/javascript" src="assets/js/toggle_close.js"></script>
<script src="assets/js/footable/js/footable.js?v=2-0-1" type="text/javascript"></script>
<!-- <script src="assets/js/footable/js/footable.sort.js?v=2-0-1" type="text/javascript"></script> -->
<script src="assets/js/footable/js/footable.filter.js?v=2-0-1" type="text/javascript"></script>
<script src="assets/js/footable/js/footable.paginate.js?v=2-0-1" type="text/javascript"></script>
</body>
</html>