<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!--描述：网页标题-->
    <title>EXAM V1.0</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--
    描述：style
-->
    <script type="text/javascript" src="assets/js/jquery.js"></script>
    <link rel="stylesheet" href="assets/css/teacher_style.css">
    <link rel="stylesheet" href="assets/css/loader-style.css">
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <link rel="stylesheet" href="assets/js/button/ladda/ladda.min.css">
    <link rel="stylesheet" href="assets/css/profile.css">
    <!-- 网站图标 -->
    <link rel="shortcut icon" href="assets/ico/minus.png">
    <!-- 有关 表格-->
    <link href="assets/js/footable/css/footable.core.css?v=2-0-1" rel="stylesheet" type="text/css">
    <link href="assets/js/footable/css/footable.standalone.css" rel="stylesheet" type="text/css">
    <link href="assets/js/footable/css/footable-demos.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="assets/js/dataTable/lib/jquery.dataTables/css/DT_bootstrap.css">
    <link rel="stylesheet" href="assets/js/dataTable/css/datatables.responsive.css">

    <style>
        #custom_content {
            /* border: 1px solid black; */
            width: 60%;
            background: #FAF5F2;
            border-left: 6px solid #FDC8C8;
            /* border-width:10px ; */
            padding: 20px;
            font-size: 16px;
            letter-spacing: 2px;
        }
    </style>
    <!--描述：主体部分-->
</head>
<body>
<!-- 顶部导航栏 -->
<nav role="navigation" class="navbar navbar-static-top">

</nav>

<!-- 顶部导航结束 -->

<!-- 侧边栏 -->
<div id="skin-select">

</div>
<!-- 侧边栏结束 -->

<!--  内容部分 -->
<div class="wrap-fluid">
    <div class="container-fluid paper-wrap bevel tlbr">

        <!-- CONTENT -->
        <!--TITLE -->
        <div class="row">
            <div id="paper-top">
                <div class="col-sm-3">
                    <h2 class="tittle-content-header">
                        <a href="AdminIndex.html"><i class="icon-media-record"></i> </a>
                    </h2>

                </div>

                <div class="col-sm-7">
                    <div class="devider-vertical visible-lg"></div>
                    <div class="tittle-middle-header">

                        <div class="alert">
                            <!-- <button type="button" class="close" data-dismiss="alert">×</button> -->
                            <span class="tittle-alert entypo-info-circled"></span> 欢迎回来,&nbsp;
                            <strong>Dave mattew!</strong>
                        </div>

                    </div>

                </div>
                <div class="col-sm-2">

                </div>
            </div>
        </div>
        <!--/ TITLE -->

        <!-- BREADCRUMB -->
        <ul id="breadcrumb">
            <li>
                <span class="entypo-home"></span>
            </li>
            <li><i class="fa fa-lg fa-angle-right"></i>
            </li>
            <li>
                <a href="#" title="题库管理">题库管理</a>
            </li>
            <li><i class="fa fa-lg fa-angle-right"></i>
            </li>
            <li>
                <a href="StuGradeSearch.html" title="所有题库">所有题库</a>
            </li>
        </ul>


        <div class="content-wrap">
            <div class="row">

                <div class="col-sm-12">
                    <!-- 内容写这里……-->

                    <div class="content-wrap">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="nest" id="FootableClose">
                                    <div class="title-alt">
                                        <h6>
                                            题库信息
                                        </h6>
                                    </div>
                                    <form id="add_exam" action="/add_exam" method="post" class="subscribe-form"
                                          enctype='multipart/form-data'>
                                        <button type="button" class="btn btn-success" style="margin:15px;"
                                                id="chos_template" title="请选择你要获取的题目模板文件" data-toggle="modal"
                                                data-target="#choseTemplate">
                                            <span class="entypo-upload"></span>&nbsp;&nbsp;模板获取
                                        </button>

                                        <input type="file" id="btn_file" style="display:none" name="file_name">
                                        <button type="button" class="btn btn-success" style="margin:15px;"
                                                id="btn_file1">
                                            <span class="entypo-upload"></span>&nbsp;&nbsp;选择文件
                                        </button>
                                        <button type="button" class="btn btn-success" style="margin:15px;"
                                                id="btn_file2">
                                            <span class="entypo-upload">&nbsp;&nbsp;提交</span>
                                        </button>
                                    </form>
                                    <div class="body-nest" id="Footable">

                                        <!-- <p class="lead well">FooTable is a jQuery plugin that aims to make HTML tables on smaller devices look awesome - No matter how many columns of data you may have in them. And it's responsive i think this better than DataTable in some way</p> -->

                                        <table class="table-striped footable-res footable metro-blue"
                                               data-page-size="15">
                                            <thead>
                                            <tr>
                                                <th>
                                                    试卷名称
                                                </th>
                                                <th>
                                                    题目信息
                                                </th>
                                                <th>
                                                    所属章节
                                                </th>

                                                <th>
                                                    题目类型
                                                </th>
                                                <th>
                                                    试卷分数
                                                </th>
                                                <th>
                                                    难度等级
                                                </th>

                                            </tr>
                                            </thead>
                                            <tbody id="t1">


                                            </tbody>
                                            <tfoot>
                                            <tr>
                                                <td colspan="8">
                                                    <div class="pagination pagination-centered"></div>
                                                </td>
                                            </tr>
                                            </tfoot>
                                        </table>

                                    </div>

                                </div>


                            </div>

                        </div>
                    </div>

                </div>
                <!-- END OF BLANK PAGE -->

            </div>

            <!-- /END OF CONTENT -->

            <!-- 信息删除确认 -->
            <div class="modal fade" id="choseTemplate">
                <div class="modal-dialog">
                    <div class="modal-content message_align">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">×</span></button>
                            <h4 class="modal-title">请选择模板</h4>
                        </div>
                        <div class="modal-body">

                            <span>模板类型:&nbsp;&nbsp</span>
                            <td>
                                <select id="quesType" style="width:80px; height: 20px">
                                    <option value="1">填空题</option>
                                    <option value="2">判断题</option>
                                    <option value="3">选择题</option>
                                </select>
                            </td>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <a id="show_template" class="btn btn-success" data-dismiss="modal">确定</a>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
            <!-- 信息确认end-->

            <form method="get" action="/downloadWhpModel/1">
                <button type="submit" id="getFill" style="display:none"></button>
            </form>
            <form method="get" action="/downloadWhpModel/2">
                <button type="submit" id="getJudge" style="display:none"></button>
            </form>
            <form method="get" action="/downloadWhpModel/3">
                <button type="submit" id="getMulti" style="display:none"></button>
            </form>


            <!-- FOOTER -->
            <div class="footer-space"></div>
            <div id="footer">


            </div>
            <!-- / END OF FOOTER -->

        </div>
    </div>
    <!--  END OF PAPER WRAP -->
</div>
</body>
<script type="text/javascript">
    $(function () {

        $("#footer").load("teacherFooter.html");

        $("#skin-select").load("teacherSlideBar.html");
        $("nav").load("teacherBar.html");
        $('.footable-res').footable();

    });

    function btn_edit() {
        $("#myModalLabel").text("新增");
        $("#myModal").modal();
    }

    $("#show_template").on("click", function () {
        var type = $("#quesType").val();
        // alert("--->" + type);
        if (type == 1) {
            $("#getFill").click();
        } else if (type == 2) {
            $("#getJudge").click();
        } else if (type == 3) {
            $("#getMulti").click();
        }
    });

    function btn_del() {
        $("#delcfmModel").modal();
    }

    // document.getElementById("btn_file1").addEventListener("click",function(){
    // 	document.getElementById("btn_file").click();
    // });
    // $("#btn_edit").click(function(){
    // 	$("#myModalLabel").text("新增");
    // 	$("#myModal").modal();
    // });

    // $("#btn_del").click(function(){
    // 	$("#delcfmModel").modal();
    // });

    $('#btn_file1').on('click', function () {
        $('#btn_file').click();
        // alert("已选择文件"+file[0].name);

    });

    $('#btn_file2').on("click", function () {
        var data = new FormData()
        data.append('exam_file', $('#btn_file')[0].files[0])
        console.log(data)
        $.ajax({
            url: '/add_exam',
            type: 'post',
            cache: false,
            processData: false,
            contentType: false,
            data: data,
            dataType: "json",
            success: function (data) {
                if (data.code == 404) {
                    alert('上传失败')
                }
                if (data.code == 200) {
                    alert('上传成功')
                }

            }
        });
        return false;
    });

    $.ajax({
        url: '/exam_sea',
        type: 'get',
        success: function (apiResult) {

            var p1 = apiResult.data[0]
            var p2 = apiResult.data[1]
            var p3 = apiResult.data[2]
            p1.forEach(function (value) {
                $('#t1').append(
                    '<tr>' +
                    '<td>' + value.subject + '</td>' +
                    '<td>' + value.question + '</td>' +
                    '<td>' + value.section + '</td>' +
                    '<td>' + '选择题' + '</td>' +
                    '<td>' + value.score + '</td>' +
                    '<td>' + value.level + '</td>' +
                    '</tr>'
                )
            })
            p2.forEach(function (value) {
                $('#t1').append(
                    '<tr>' +
                    '<td>' + value.subject + '</td>' +
                    '<td>' + value.question + '</td>' +
                    '<td>' + value.section + '</td>' +
                    '<td>' + '判断题' + '</td>' +
                    '<td>' + value.score + '</td>' +
                    '<td>' + value.level + '</td>' +
                    '</tr>'
                )
            })
            p3.forEach(function (value) {
                $('#t1').append(
                    '<tr>' +
                    '<td>' + value.subject + '</td>' +
                    '<td>' + value.question + '</td>' +
                    '<td>' + value.section + '</td>' +
                    '<td>' + '填空题' + '</td>' +
                    '<td>' + value.score + '</td>' +
                    '<td>' + value.level + '</td>' +
                    '</tr>'
                )
            })

        }
    })
</script>
<!--&lt;!&ndash; MAIN EFFECT &ndash;&gt;-->
<!--<script type="text/javascript" src="assets/js/preloader.js"></script>-->
<!--<script type="text/javascript" src="assets/js/bootstrap.js"></script>-->
<!--<script type="text/javascript" src="assets/js/teacherapp.js"></script>-->
<!--<script type="text/javascript" src="assets/js/load.js"></script>-->
<!--<script type="text/javascript" src="assets/js/main.js"></script>-->

<!--&lt;!&ndash; /MAIN EFFECT &ndash;&gt;-->
<!--&lt;!&ndash; GAGE &ndash;&gt;-->
<!--<script type="text/javascript" src="assets/js/toggle_close.js"></script>-->
<script src="assets/js/footable/js/footable.js?v=2-0-1" type="text/javascript"></script>
<!-- <script src="assets/js/footable/js/footable.sort.js?v=2-0-1" type="text/javascript"></script> -->
<script src="assets/js/footable/js/footable.filter.js?v=2-0-1" type="text/javascript"></script>
<script src="assets/js/footable/js/footable.paginate.js?v=2-0-1" type="text/javascript"></script>
<script src="assets/js/footable/js/footable.paginate.js?v=2-0-1" type="text/javascript"></script>

</html>